{% extends "base.html" %}
{% block title %}Welcome to ACRS{% endblock %}
{% block content %}

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<style>
    .center {
        text-align: center;
    }
</style>

<div class="center" style="background-color:#FFFFFF;">
    <div style="border: 4px solid green;">
    <h2>{{ event.eventtype }} Title: </h2>
    <h3><b> {{ event.eventname }} </b></h3>
    </div>
    <div style="border: 4px solid green;">
    <h2>{{ event.eventtype }} Date and Time: </h2>
    <h3><b>| {{ event.startdate }} | - | {{ event.enddate }} |</b></h3>
    </div>
    <div style="border: 4px solid green;">
    <h2>{{event.eventtype }} Description: </h2>
    <h3> <b>{{ event.eventdes }} </b></h3>
    </div>

</div>

<br>

{% if user.is_authenticated %}

<div style="margin-top:40px">
    <table id="data" class="table table-striped" style="background-color:#ffffff">
    <thead>
        <tr>
            <th>Date Time Scanned</th>
            <th>Vehicle No</th>
            <th>Person who Scanned</th>
            <th>Access</th>
        </tr>
    </thead>
    <tbody>
        {% for row in entryvehicle %}
        <tr>
            <td>{{ row.datetime }}</td>
            <td>{{ row.vehicleno }}</td>
            <td>{{ row.user.email }}</td>
            <td>{{ row.access }}</td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}


</div>

<script>
$(document).ready(function () {
    $('#data').DataTable({
        columns: [
            null,
            null,
            null,
            null],


    });

});
</script>






{% endblock %}