{% extends 'base.html' %}

{% block title %}Vehicle Entry Status by Year{% endblock %}

{% block content %}

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/reportentry">Vehicle Entry Status</a>
    <a href="/reportapproved" >Approved Vehicles By Period</a>
    <a href="/reportuser">User Account Status</a>
    <a href="/reportevent">Type of Events</a>
    <a href="/reportwarning" >Warning Vehicles By Period</a>
    <a href="/reportoffence">Vehicle Warning Offences</a>
    <a href="/reportblacklist" >Blacklisted Vehicles By Period</a>
    <a href="/reportholder">Vehicle Holder Type</a>
    <a href="/reportcompany">Vehicles By Company</a>
    <a href="/reportcat">Type of Posts</a>
    <a href="/reportstatus">Bug Post Status</a>
</div>

<div id="main" class="content">
<button class="openbtn" onclick="openNav()">&#9776;</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>


<script>
    var myTH = document.getElementsByTagName("th")[0];
    sorttable.innerSortFunction.apply(myTH, []);
</script>

        <link rel="stylesheet"  type="text/css" href="static/styles.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" />
        <br />
        <br />
        <h2 class="h2">Vehicle Entry Status by Year</h2><br />

<div class="outbox">
    <div class="container">
        <canvas id="myChart" width="690" height="400"></canvas>
    </div>
</div>

<script type="text/javascript">
Chart.defaults.global.responsive = false;

var ctx = document.getElementById("myChart");

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for row in query1 %}
        "{{row.year.year}}",
        {% endfor %}],
        datasets:[{
            label: 'Approved Vehicles',
            data: [{% for row in query1 %}
            {{row.approved}},
            {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(255, 99, 132, 0.5)',
                'rgba(255, 99, 132, 0.5)',
                'rgba(255, 99, 132, 0.5)'],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)'],
            borderWidth: 4
        }, {
            label: 'Denied Vehicles',
            data: [{% for row in query2 %}
            {{row.denied}},
            {% endfor %}],
            backgroundColor: [
                'rgba(54, 162, 235, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(54, 162, 235, 0.5)'],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'],
            borderWidth: 4
        }]
    },
    options : {
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Year'

                }

            }],
            yAxes: [{
                ticks:{
                    beginAtZero: true

                },
                scaleLabel: {
                    display: true,
                    labelString: 'Number of Vehicles'

                }

            }]

        }

    }
});

</script>

<br />
<br />
<br />
        <div style="float:left; width: 50%;">
            <table class="center">
                <tr class="table__header">
                    <th class="table__cell">Period</th>
                    <th class="table__cell">Total Approved Vehicles</th>
                </tr>

                {% for row in query1 %}
                <tr class="table__rows" >
                    <td class="table__cell"><a href="/reportentrymonth{{row.year.year}}">{{ row.year.year }}</a></td>
                    <td class="table__cell">{{ row.approved }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div style="float:left; width: 50%;">
            <table class="center" style="margin-left:-10px;">
                <tr class="table__header">
                    <th class="table__cell">Total Denied Vehicles</th>
                </tr>

                {% for row in query2 %}
                <tr class="table__rows" >
                    <td class="table__cell">{{ row.denied }}</td>
                </tr>
                {% endfor %}
            </table>
            <br/>
        </div>

</div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "220px";
  document.getElementById("main").style.marginLeft = "220px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>

{% endblock %}
