<!DOCTYPE html>
<html>

    <head>
              <link rel="stylesheet"  type="text/css" href="static/menu.css" />

    </head>

<body>


<ul class="main__menu">
  <li class="list-item">
    <a href="#" class="home item--js">
      <span>Home</span>
      <i class="ion ion-ios-home-outline"></i>
    </a>
  </li>
  <li class="list-item">
    <a href="#" class="about item--js">
      <span>About</span>
      <i class="ion ion-ios-contact-outline"></i>
    </a>
  </li>
  <li class="list-item">
    <a href="#" class="widget item--js">
      <span>Widgets</span>
      <i class="ion ion-ios-partly-sunny-outline"></i>
    </a>
    <ul class="drop-menu menu-4">
      <li class="drop-item"><a href="#" class="item--1">Big Widget</a></li>
      <li class="drop-item"><a href="#" class="item--2">Bigger Widget</a></li>
      <li class="drop-item"><a href="#" class="item--3">Huge Widget</a></li>
    </ul>
  </li>
  <li class="list-item">
    <a href="#" class="kabobs item--js">
      <span>KaBoBs</span>
      <img src="https://res.cloudinary.com/elafreet/image/upload/v1530189897/cooking1.svg" alt="">
    </a>
    <ul class="drop-menu menu-2">
      <li class="drop-item"><a href="#" class="item--1">Shish Kabobs</a></li>
      <li class="drop-item"><a href="#" class="item--2">BBQ Kabobs</a></li>
      <li class="drop-item"><a href="#" class="item--3">Summer Kabobs</a></li>
    </ul>
  </li>
  <li class="list-item">
    <a href="#" class="contact item--js">
      <span>Contact</span>
      <i class="ion ion-ios-mail-open-outline"></i>
    </a>
  </li>
</ul>


</body>
</html>
